body {
    width: 960px;
    margin: 20px auto;
    background-color: rgb(159, 196, 214);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
ul {
    list-style-type: none;
}
a {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px #111111;
}
section {
    display: inline-block;
    width:  300px;
    height: 800px;
    padding: 20px;
    margin-bottom: 8px;
    background-color: rgba(231, 226, 226, 0.151);
}
aside {
    display: inline-block;
    width: 600px;
    height: 839px;
    vertical-align: top;
    padding: 0 0 0 8px;
    background-color: rgba(88, 88, 88, 0.151);
  }
  img {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  h1,h2,h3 {
      text-align: center;
      text-shadow: 1px 1px #ffffff;
  }
  article {
      padding: 10px;
    background-color: rgba(88, 88, 88, 0.151);  
  }
  table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
  }
  th {
    padding: 5px;
  }
   
  td {
    padding: 2px;
  }
   
  th,
  td {
    border: solid 1px #e6e6e6;
  }
   
  